In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from uszipcode import search
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('../../../data/kc_house_data.csv')
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,263000018,5/21/2014,360000.0,3,2.50,1530,1131,3.0,0.0,0.0,...,8,1530,0.0,2009,0.0,98103,47.6993,-122.346,1530,1509
21593,6600060120,2/23/2015,400000.0,4,2.50,2310,5813,2.0,0.0,0.0,...,8,2310,0.0,2014,0.0,98146,47.5107,-122.362,1830,7200
21594,1523300141,6/23/2014,402101.0,2,0.75,1020,1350,2.0,0.0,0.0,...,7,1020,0.0,2009,0.0,98144,47.5944,-122.299,1020,2007
21595,291310100,1/16/2015,400000.0,3,2.50,1600,2388,2.0,NaN,0.0,...,8,1600,0.0,2004,0.0,98027,47.5345,-122.069,1410,1287
21596,1523300157,10/15/2014,325000.0,2,0.75,1020,1076,2.0,0.0,0.0,...,7,1020,0.0,2008,0.0,98144,47.5941,-122.299,1020,1357

In [3]:
df_group = df.groupby(['zipcode']).mean().sort_values('price', ascending=False)
df_group.head()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,yr_built,yr_renovated,lat,long,sqft_living15,sqft_lot15
zipcode,,,,,,,,,,,,,,,,,,
98039,3.755708e+09,2.161300e+06,4.060000,3.200000,3800.900000,17403.560000,1.560000,0.022222,0.440000,3.480000,9.560000,3290.900000,1972.520000,448.400000,47.625840,-122.233540,3132.200000,17291.100000
98004,4.394237e+09,1.356524e+06,3.854890,2.527603,2909.022082,13104.220820,1.432177,0.003534,0.306962,3.495268,8.687697,2419.842271,1971.470032,213.759542,47.616183,-122.205189,2674.700315,12805.022082
98040,4.199323e+09,1.194874e+06,4.028369,2.716312,3106.833333,13704.464539,1.505319,0.044715,0.774194,3.787234,8.960993,2474.329787,1971.471631,240.269710,47.559846,-122.225592,2898.744681,12801.283688
98112,4.826282e+09,1.096239e+06,3.509294,2.373606,2498.743494,4990.431227,1.806691,0.000000,0.149254,3.516729,8.442379,2005.695167,1944.449814,185.809735,47.629619,-122.297866,2280.078067,4898.159851
98102,4.102040e+09,8.996077e+05,3.250000,2.283654,2151.048077,3605.153846,1.990385,0.000000,0.153846,3.375000,8.298077,1752.442308,1952.163462,103.428571,47.634591,-122.322250,1954.471154,3303.500000

In [4]:
df['zipcode'].value_counts()

98103    602
98038    589
98115    583
98052    574
98117    553
        ...
98102    104
98010    100
98024     80
98148     57
98039     50
Name: zipcode, Length: 70, dtype: int64

In [5]:
def getcity(zipcode):
    if (zipcode == 98002) or (zipcode == 98092):
        return 'Auburn'
    elif(zipcode == 98224):
        return 'Baring'
    elif(zipcode == 98004) or (zipcode == 98005) or (zipcode == 98006) or (zipcode == 98007) or (zipcode == 98008):
        return 'Bellevue'
    elif(zipcode == 98010):
        return 'Black Diamond'
    elif(zipcode == 98011):
        return 'Bothell'
    elif(zipcode == 98178):
        return 'Bryn Mawr-Skyway'
    elif(zipcode == 98148) or (zipcode == 98166):
        return 'Burien'
    elif(zipcode == 98014):
        return 'Carnation'
    elif(zipcode == 98077):
        return 'Cottage Lake'
    elif(zipcode == 98042):
        return 'Covington'
    elif(zipcode == 98198):
        return 'Des Moines'
    elif(zipcode == 98019):
        return 'Duvall'
    elif(zipcode == 98031):
        return 'East Hill-Meridian'
    elif(zipcode == 98022):
        return 'Enumclaw'
    elif(zipcode == 98058):
        return 'Fairwood'
    elif(zipcode ==98024):
        return 'Fall city'
    elif(zipcode == 98003) or (zipcode == 98023):
        return 'Federal Way'
    elif(zipcode == 98027) or (zipcode == 98029):
        return 'Issaquah'
    elif(zipcode == 98028):
        return 'Kenmore'
    elif(zipcode == 98032) or (zipcode == 98030):
        return 'Kent'
    elif(zipcode == 98033) or (zipcode == 98034):
        return 'Kirkland'
    elif (zipcode == 98001):
        return 'Lakeland North'
    elif(zipcode == 98038):
        return 'Maple Valley'
    elif(zipcode == 98039):
        return 'Medina'
    elif(zipcode == 98040):
        return 'Mercer Island'
    elif(zipcode == 98045):
        return 'North Bend'
    elif(zipcode == 98047):
        return 'Pacific'
    elif(zipcode == 98050):
        return 'Preston'
    elif(zipcode == 98051):
        return 'Ravensdale'
    elif(zipcode == 98052):
        return 'Redmond'
    elif(zipcode == 98055) or (zipcode == 98056) or(zipcode == 98057) or (zipcode == 98059):
        return 'Renton'
    elif(zipcode == 98074) or (zipcode == 98075):
        return 'Sammamish'
    elif (zipcode == 98188):
        return 'SeaTac'
    elif (zipcode == 98155) or (zipcode == 98177):
        return 'Shoreline'
    elif (zipcode == 98288):
        return 'Skykomish'
    elif (zipcode == 98065):
        return 'Snoqualmie'
    elif (zipcode == 98168):
        return 'Tukwila'
    elif (zipcode == 98053):
        return 'Union Hill-Novelty Hill'
    elif (zipcode == 98195):
        return 'Univ Of Washington'
    elif (zipcode == 98070):
        return 'Vashon'
    elif (zipcode == 98146):
        return 'White Center'
    elif (zipcode == 98072):
        return 'Woodinville'
    else:
        return 'Seattle'
    
    
city = df.zipcode.apply(getcity)
df['city'] = city
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,city
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650,Bryn Mawr-Skyway
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639,Seattle
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062,Kenmore
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000,Seattle
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503,Sammamish
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,263000018,5/21/2014,360000.0,3,2.50,1530,1131,3.0,0.0,0.0,...,1530,0.0,2009,0.0,98103,47.6993,-122.346,1530,1509,Seattle
21593,6600060120,2/23/2015,400000.0,4,2.50,2310,5813,2.0,0.0,0.0,...,2310,0.0,2014,0.0,98146,47.5107,-122.362,1830,7200,White Center
21594,1523300141,6/23/2014,402101.0,2,0.75,1020,1350,2.0,0.0,0.0,...,1020,0.0,2009,0.0,98144,47.5944,-122.299,1020,2007,Seattle
21595,291310100,1/16/2015,400000.0,3,2.50,1600,2388,2.0,NaN,0.0,...,1600,0.0,2004,0.0,98027,47.5345,-122.069,1410,1287,Issaquah
21596,1523300157,10/15/2014,325000.0,2,0.75,1020,1076,2.0,0.0,0.0,...,1020,0.0,2008,0.0,98144,47.5941,-122.299,1020,1357,Seattle

In [6]:
df['city'].value_counts()

Seattle                    6726
Bellevue                   1407
Renton                     1142
Kirkland                    977
Sammamish                   800
Federal Way                 779
Issaquah                    733
Shoreline                   701
Maple Valley                589
Redmond                     574
Auburn                      550
Covington                   547
Fairwood                    455
Union Hill-Novelty Hill     403
Kent                        381
Lakeland North              361
Burien                      311
Snoqualmie                  308
White Center                288
Kenmore                     283
Mercer Island               282
Des Moines                  280
Woodinville                 273
East Hill-Meridian          273
Tukwila                     269
Bryn Mawr-Skyway            262
Enumclaw                    233
North Bend                  220
Cottage Lake                198
Bothell                     195
Duvall                      190
SeaTac                      136
Carnation                   124
Vashon                      117
Black Diamond               100
Fall city                    80
Medina                       50
Name: city, dtype: int64

In [7]:
df_seattle = df.loc[df['city'] == 'Seattle']
df_seattle

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,city
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639,Seattle
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000,Seattle
11,9212900260,5/27/2014,468000.0,2,1.00,1160,6000,1.0,0.0,0.0,...,860,300.0,1942,0.0,98115,47.6900,-122.292,1330,6000,Seattle
14,1175000570,3/12/2015,530000.0,5,2.00,1810,4850,1.5,0.0,0.0,...,1810,0.0,1900,0.0,98107,47.6700,-122.394,1360,4850,Seattle
15,9297300055,1/24/2015,650000.0,4,3.00,2950,5000,2.0,0.0,3.0,...,1980,970.0,1979,0.0,98126,47.5714,-122.375,2140,4000,Seattle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21590,7936000429,3/26/2015,1010000.0,4,3.50,3510,7200,2.0,0.0,0.0,...,2600,910.0,2009,0.0,98136,47.5537,-122.398,2050,6200,Seattle
21591,2997800021,2/19/2015,475000.0,3,2.50,1310,1294,2.0,0.0,0.0,...,1180,130.0,2008,0.0,98116,47.5773,-122.409,1330,1265,Seattle
21592,263000018,5/21/2014,360000.0,3,2.50,1530,1131,3.0,0.0,0.0,...,1530,0.0,2009,0.0,98103,47.6993,-122.346,1530,1509,Seattle
21594,1523300141,6/23/2014,402101.0,2,0.75,1020,1350,2.0,0.0,0.0,...,1020,0.0,2009,0.0,98144,47.5944,-122.299,1020,2007,Seattle
21596,1523300157,10/15/2014,325000.0,2,0.75,1020,1076,2.0,0.0,0.0,...,1020,0.0,2008,0.0,98144,47.5941,-122.299,1020,1357,Seattle

In [8]:
df_seattle.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,6.726000e+03,6.726000e+03,6726.000000,6726.000000,6726.000000,6726.000000,6726.000000,5985.000000,6706.000000,6726.000000,6726.000000,6726.000000,6726.000000,5493.000000,6726.000000,6726.000000,6726.000000,6726.000000,6726.000000
mean,4.679245e+09,5.845944e+05,3.142581,1.933095,1792.192239,5085.828724,1.541332,0.003676,0.269460,3.453018,7.418971,1429.130984,1953.490931,131.606226,98121.825305,47.633401,-122.337282,1670.195956,4947.018733
std,2.875876e+09,3.464318e+05,1.072416,0.796241,794.397496,3326.075628,0.618550,0.060522,0.797094,0.712987,1.001808,599.600869,35.143409,495.539019,20.340506,0.066502,0.040544,492.983697,2379.993270
min,3.600057e+06,9.000000e+04,1.000000,0.500000,370.000000,520.000000,1.000000,0.000000,0.000000,1.000000,4.000000,370.000000,1900.000000,0.000000,98102.000000,47.511800,-122.416000,460.000000,651.000000
25%,2.291400e+09,3.850000e+05,2.000000,1.000000,1240.000000,3225.000000,1.000000,0.000000,0.000000,3.000000,7.000000,1020.000000,1925.000000,0.000000,98108.000000,47.568600,-122.373000,1350.000000,3758.250000
50%,4.083301e+09,5.000000e+05,3.000000,1.750000,1620.000000,4942.000000,1.500000,0.000000,0.000000,3.000000,7.000000,1290.000000,1947.000000,0.000000,98117.000000,47.646950,-122.341000,1570.000000,5000.000000
75%,7.234602e+09,6.750000e+05,4.000000,2.500000,2180.000000,6360.000000,2.000000,0.000000,0.000000,4.000000,8.000000,1670.000000,1987.750000,0.000000,98126.000000,47.685800,-122.300000,1870.000000,6186.000000
max,9.842301e+09,7.700000e+06,33.000000,8.000000,12050.000000,91681.000000,3.500000,1.000000,4.000000,5.000000,13.000000,8570.000000,2015.000000,2015.000000,98199.000000,47.777600,-122.249000,4950.000000,34713.000000

In [9]:
dummy = pd.get_dummies(df['city'])
dummy

,Auburn,Bellevue,Black Diamond,Bothell,Bryn Mawr-Skyway,Burien,Carnation,Cottage Lake,Covington,Des Moines,...,Sammamish,SeaTac,Seattle,Shoreline,Snoqualmie,Tukwila,Union Hill-Novelty Hill,Vashon,White Center,Woodinville
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
21593,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
21594,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
21595,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21596,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [10]:
df = pd.concat([df, dummy], axis=1)
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,Sammamish,SeaTac,Seattle,Shoreline,Snoqualmie,Tukwila,Union Hill-Novelty Hill,Vashon,White Center,Woodinville
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,0,0,1,0,0,0,0,0,0,0
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,0,0,1,0,0,0,0,0,0,0
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,0

In [11]:
df = df.merge(dummy, left_index=True, right_index=True)
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,Sammamish_y,SeaTac_y,Seattle_y,Shoreline_y,Snoqualmie_y,Tukwila_y,Union Hill-Novelty Hill_y,Vashon_y,White Center_y,Woodinville_y
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,0,0,1,0,0,0,0,0,0,0
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,0,0,1,0,0,0,0,0,0,0
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,263000018,5/21/2014,360000.0,3,2.50,1530,1131,3.0,0.0,0.0,...,0,0,1,0,0,0,0,0,0,0
21593,6600060120,2/23/2015,400000.0,4,2.50,2310,5813,2.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0
21594,1523300141,6/23/2014,402101.0,2,0.75,1020,1350,2.0,0.0,0.0,...,0,0,1,0,0,0,0,0,0,0
21595,291310100,1/16/2015,400000.0,3,2.50,1600,2388,2.0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0
21596,1523300157,10/15/2014,325000.0,2,0.75,1020,1076,2.0,0.0,0.0,...,0,0,1,0,0,0,0,0,0,0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 96 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         21597 non-null  int64
 1   date                       21597 non-null  object
 2   price                      21597 non-null  float64
 3   bedrooms                   21597 non-null  int64
 4   bathrooms                  21597 non-null  float64
 5   sqft_living                21597 non-null  int64
 6   sqft_lot                   21597 non-null  int64
 7   floors                     21597 non-null  float64
 8   waterfront                 19221 non-null  float64
 9   view                       21534 non-null  float64
 10  condition                  21597 non-null  int64
 11  grade                      21597 non-null  int64
 12  sqft_above                 21597 non-null  int64
 13  sqft_basement              21597 non-null  object
 14  yr_built                   21597 non-null  int64
 15  yr_renovated               17755 non-null  float64
 16  zipcode                    21597 non-null  int64
 17  lat                        21597 non-null  float64
 18  long                       21597 non-null  float64
 19  sqft_living15              21597 non-null  int64
 20  sqft_lot15                 21597 non-null  int64
 21  city                       21597 non-null  object
 22  Auburn_x                   21597 non-null  uint8
 23  Bellevue_x                 21597 non-null  uint8
 24  Black Diamond_x            21597 non-null  uint8
 25  Bothell_x                  21597 non-null  uint8
 26  Bryn Mawr-Skyway_x         21597 non-null  uint8
 27  Burien_x                   21597 non-null  uint8
 28  Carnation_x                21597 non-null  uint8
 29  Cottage Lake_x             21597 non-null  uint8
 30  Covington_x                21597 non-null  uint8
 31  Des Moines_x               21597 non-null  uint8
 32  Duvall_x                   21597 non-null  uint8
 33  East Hill-Meridian_x       21597 non-null  uint8
 34  Enumclaw_x                 21597 non-null  uint8
 35  Fairwood_x                 21597 non-null  uint8
 36  Fall city_x                21597 non-null  uint8
 37  Federal Way_x              21597 non-null  uint8
 38  Issaquah_x                 21597 non-null  uint8
 39  Kenmore_x                  21597 non-null  uint8
 40  Kent_x                     21597 non-null  uint8
 41  Kirkland_x                 21597 non-null  uint8
 42  Lakeland North_x           21597 non-null  uint8
 43  Maple Valley_x             21597 non-null  uint8
 44  Medina_x                   21597 non-null  uint8
 45  Mercer Island_x            21597 non-null  uint8
 46  North Bend_x               21597 non-null  uint8
 47  Redmond_x                  21597 non-null  uint8
 48  Renton_x                   21597 non-null  uint8
 49  Sammamish_x                21597 non-null  uint8
 50  SeaTac_x                   21597 non-null  uint8
 51  Seattle_x                  21597 non-null  uint8
 52  Shoreline_x                21597 non-null  uint8
 53  Snoqualmie_x               21597 non-null  uint8
 54  Tukwila_x                  21597 non-null  uint8
 55  Union Hill-Novelty Hill_x  21597 non-null  uint8
 56  Vashon_x                   21597 non-null  uint8
 57  White Center_x             21597 non-null  uint8
 58  Woodinville_x              21597 non-null  uint8
 59  Auburn_y                   21597 non-null  uint8
 60  Bellevue_y                 21597 non-null  uint8
 61  Black Diamond_y            21597 non-null  uint8
 62  Bothell_y                  21597 non-null  uint8
 63  Bryn Mawr-Skyway_y         21597 non-null  uint8
 64  Burien_y                   21597 non-null  uint8
 65  Carnation_y                21597 non-null  uint8
 66  Cottage Lake_y             21597 non-null  uint8
 67  Covington_y                21597 non-null  uint8
 68  Des Moines_y               21597 non-null  uint8
 69  Duvall_y                   21597 non-null  uint8
 70  East Hill-Meridian_y       21597 non-null  uint8
 71  Enumclaw_y                 21597 non-null  uint8
 72  Fairwood_y                 21597 non-null  uint8
 73  Fall city_y                21597 non-null  uint8
 74  Federal Way_y              21597 non-null  uint8
 75  Issaquah_y                 21597 non-null  uint8
 76  Kenmore_y                  21597 non-null  uint8
 77  Kent_y                     21597 non-null  uint8
 78  Kirkland_y                 21597 non-null  uint8
 79  Lakeland North_y           21597 non-null  uint8
 80  Maple Valley_y             21597 non-null  uint8
 81  Medina_y                   21597 non-null  uint8
 82  Mercer Island_y            21597 non-null  uint8
 83  North Bend_y               21597 non-null  uint8
 84  Redmond_y                  21597 non-null  uint8
 85  Renton_y                   21597 non-null  uint8
 86  Sammamish_y                21597 non-null  uint8
 87  SeaTac_y                   21597 non-null  uint8
 88  Seattle_y                  21597 non-null  uint8
 89  Shoreline_y                21597 non-null  uint8
 90  Snoqualmie_y               21597 non-null  uint8
 91  Tukwila_y                  21597 non-null  uint8
 92  Union Hill-Novelty Hill_y  21597 non-null  uint8
 93  Vashon_y                   21597 non-null  uint8
 94  White Center_y             21597 non-null  uint8
 95  Woodinville_y              21597 non-null  uint8
dtypes: float64(8), int64(11), object(3), uint8(74)
memory usage: 5.1+ MB

In [13]:
df = df.drop('zipcode', 1)
df = df.drop('city', 1)
df = df.drop('date', 1)